# ignore compiled code
*.pyc
*.conf
cluster
nabu/computing/condor/create_environment.sh
config/recipes/DBLSTM/GP
config/recipes/phonology
.gitignore
config/recipes/phonology*
sweeps
config/recipes/dynamic*
