[computing]
#use a cluster that is statically defined in a cluster file containg a line for
#for each task, with the job name, the machine, the port and the GPU index.
#For example:
#ps,ps.machines.com,1024
#worker,worker1.machines.com,1024,0
#worker,worker2.machines.com,1024,0
distributed = static
#the file where the cluster is defined
clusterfile = cluster
#wheterer or not ssh_tunnels should be created to communicate between machines
#this is required if the network ports are behind a firewall
ssh_tunnel=True
