[lm]
#name of the classifier
lm = lstmlm
#number of layers
numlayers = 2
#number of units in each layer
numunits = 64
#dropout rate
dropout = 1
#the amount of labels that should be added at the output (e.g. blank, <eos>, ..)
add_labels = 1
