[evaluator]
#name of the decoder that should be used
evaluator = cross_entropy_evaluator
#the number of utterances that are processed simultaniously
batch_size =
#link the input names defined in the classifier config to sections defined in
#the database config
input1 =
input2 =
...
#a space seperated list of targets used by the evaluator
targets =
