[io]
#a space seperated list of input names
inputs = features
#a space seperated list of output names
outputs = text
#a space seperated list of model output dimensions (exluding eos)
output_dims = 39

[encoder]
#type of encoder
encoder = listener
#the standard deviation of the Gaussian input noise added during training
input_noise = 0.6
#number of pyramidal layers a non-pyramidal layer is added at the end
num_layers = 2
#number of units in each layer
num_units = 128
#number of timesteps to concatenate in each pyramidal layer
pyramid_steps = 2
#dropout rate
dropout = 0.5

[decoder]
#type of decoder
decoder = speller
#number of layers
num_layers = 2
#number of units
num_units = 128
#the dropout rate in the rnn
dropout = 0.5
