[processor]
#type of processor
processor = text_processor
#the normalizer to be used
normalizer = phones
#the alphabet used by the processor
alphabet = aa ix ch ae eh el ah ao ih tcl en ey aw h# ay ax zh er pau eng oy gcl ng nx iy r pcl t bcl dcl th dh kcl epi hv y hh jh dx ax-h em d axr b ux g f uw m l n q p s sh uh w v ow z k
#a maximum length (in frames) of the utterance, set None for no max length
#if an utterance exeeds this length it will be thrown away
max_length = None
